<div class='card'
    	ng-repeat='card in $ctrl.getCards()'>

  <div ng-switch="card.isEditing">
    <div ng-switch-default>
      {{card.description}}
      <div class='edit-small edit-card hand'
          ng-click='$ctrl.editCard(card)'>    
      </div>
      <div class='remove-small remove-card hand'
          ng-click= $ctrl.deleteCard(card)>    
      </div>     
    </div>
    <div ng-switch-when="true">
      <form ng-submit='$ctrl.updateCard()'>
        <input type="text" 
                ng-model='$ctrl.editingCard.description'
                ng-keyup='$ctrl.closeEditing($event, card)'>
        <select class='select-list'
            ng-model='$ctrl.editingCard.list_id'
            ng-change='$ctrl.updateCard()'
            ng-options='list.id as list.listName for list in $ctrl.lists'></select>
      </form>    
    </div>

</div>


</div>
<section class='new-card'>
  <form ng-submit="$ctrl.createCard()">
    <input type='text'
           ng-model='$ctrl.cardDescription'
           class='card-input'
           placeholder='New card'>
  </form>
</section>      


