<div class='card'
    	ng-repeat='card in $ctrl.getCards()'>

  <div ng-if='!card.isEditing'>
    {{card.description}}
    <div class='edit-small edit-card hand'
        ng-click='$ctrl.editCard(card)'>    
    </div>
    <div class='remove-small remove-card hand'
        ng-click= $ctrl.deleteCard(card)>    
    </div>    
  </div>
  <div ng-if='card.isEditing'>
    <form ng-submit='$ctrl.updateCard()'>
      <input type="text" ng-model='$ctrl.editingCard.description'>
    </form>
  </div>  

</div>


</div>
<section class='new-card'>
  <form ng-submit="$ctrl.createCard()">
    <input type='text'
           ng-model='$ctrl.cardDescription'
           class='card-input'
           placeholder='New card'>
  </form>
</section>      


